[[source]]
name       = "pypi"
url        = "https://pypi.org/simple"
verify_ssl = true

[packages]
colorama      = "*"
progress      = "*"
python-dotenv = "*"
requests      = "*"

[dev-packages]
black  = "*"
pylint = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "pylint main.py"
